<li> 
	<img src="../../bilder/homer.png" (mouseenter)= "visaKnapp('homer')" >
	<button [ngClass]="{'btn': true , 'gom': valdaVisaKnapp.indexOf('homer') === -1}" (click)="valdKaraktaer('homer')">Citat</button>
</li>
<li> 
	<img src="../../bilder/milhouse.png" (mouseenter)= "visaKnapp('milhouse')" >
	<button [ngClass]="{'btn': true , 'gom': valdaVisaKnapp.indexOf('milhouse') === -1}" (click)="valdKaraktaer('milhouse')">Citat</button>
</li>
<li> 
	<img src="../../bilder/burns.png" (mouseenter)= "visaKnapp('burns')" >
	<button [ngClass]="{'btn': true , 'gom': valdaVisaKnapp.indexOf('burns') === -1}" (click)="valdKaraktaer('burns')">Citat</button>
</li>
<li> 
	<img src="../../bilder/ralph.jpg" (mouseenter)= "visaKnapp('ralph')" >
	<button [ngClass]="{'btn': true , 'gom': valdaVisaKnapp.indexOf('ralph') === -1}" (click)="valdKaraktaer('ralph')">Citat</button>

</li>
<li> 
	<img src="../../bilder/bart.png" (mouseenter)= "visaKnapp('bart')" >
	<button [ngClass]="{'btn': true , 'gom': valdaVisaKnapp.indexOf('bart') === -1}" (click)="valdKaraktaer('bart')">Citat</button>
</li>